name: Checks

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"
      - name: Install golangci-lint
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.7.2
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
      - name: Run checks
        run: ./check.sh
